
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Header{
    Dashboard
}

<div class="card mb-4">
    <div class="card-body">
        <p class="mb-0">
            <strong>ĐOÀN DUY NAM</strong>. Content of page
        </p>
    </div>
</div>